---
name: Webserver Version

on: 
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  "Webserver-Version":
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Adding host key
        run: |
           mkdir -p ~/.ssh
           ssh-keyscan -H ${{secrets.SSH_HOST}} >> ~/.ssh/known_hosts

      - name: Adding private key
        run: |
           echo "${{secrets.SSH_PRIVATE_KEY}}" >> ~/.ssh/id_rsa
           chmod 600 ~/.ssh/id_rsa

      - name: Deploy
        run: |
           rsync -avzh ./ ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}}:/tmp/deploy
           ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "sudo rsync -avzh --delete /tmp/deploy/* /var/www/html/"
